<div id="card">

    <h2>Card</h2>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Count</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {{#if cart.courses.length}}
            {{#each cart.courses}}
                <tr>
                    <th>{{title}}</th>
                    <th>{{count}}</th>
                    <th>
                        <button class="btn btn-small remove-item" data-id="{{id}}">remove</button>
                    </th>
                </tr>
            {{/each}}
            {{else}}
                <h2>No Items</h2>
            {{/if}}
        </tbody>

        
    </table>

    <strong><span id="total-price">Total Price: {{cart.totalPrice}}</span></strong>

</div>